@charset "UTF-8";

html {
    color: black;
    background-color: white;
}

table, th, td {
    border: 1px black solid;
    border-collapse: collapse;
}

table.portion, table.portion >tbody >tr, table.portion >tbody >tr >td {
    border: none;
}

.portion {
    margin: auto;
}

.portion * {
    text-align: initial;
}

table.portion >tbody >tr >td {
    padding: 0.5em;
}

h1 {
    font-size: 1.5rem;
}

.time, .destination {
    font-weight: bold;
}

.time {
    white-space: nowrap;
}

.overtaken, .overtaken :link {
    color: lightgrey;
}

.train_info {
    text-align: center;
}

.train_number {
    font-weight: bold;
}

footer {
    font-size: small;
    font-style: italic;
}

#go_to_top {
    position: fixed;
    right: 0;
    top: 0;
}

.error {
    color: red;
    font-weight: bold;
}