html {
    color: black;
    background-color: white;
}

table, th, td {
    border: 1px black solid;
    border-collapse: collapse;
}

h1 {
    font-size: 1.5rem;
}

.time, .destination {
    font-weight: bold;
}

.overtaken {
    color: lightgrey;
}

.valid_connection {
    color: green;
}

.invalid_connection {
    color: red;
}

.train_info {
    text-align: center;
}

.train_number {
    font-weight: bold;
}

@media (hover: none) {
    [title] {
      position: relative;
      display: inline-flex;
      justify-content: center;
    }
    [title]:hover::after {
      content: attr(title);
      position: absolute;
      top: 90%;
      color: #000;
      background-color: #fff;
      border: 1px solid;
      width: fit-content;
      padding: 3px;
    }
}