@charset "UTF-8";

@media (hover: none) {
    [title] {
      position: relative;
      display: inline-flex;
      justify-content: center;
    }
    [title]:hover::after {
      content: attr(title);
      position: absolute;
      top: 90%;
      color: #000;
      background-color: #fff;
      border: 1px solid;
      width: fit-content;
      padding: 3px;
      z-index: 10000;
    }
}

#permanent_warning {
    color: red;
    font-weight: bold;
}

.valid_connection {
    background-color: #c0ffc0;
}

.invalid_connection {
    background-color: #ffc0c0;
}

.error {
    color: red;
    font-weight: bold;
}

footer {
    font-size: small;
    font-style: italic;
}

#logo_container {
    margin: 1em;
    text-align: center;
}

#nre_logo {
    width: 256px;
}

.time {
    font-weight: bold;
    white-space: nowrap;
}

.overtaken, .overtaken :link {
    color: lightgrey;
}

#map {
    display: none;
    position: relative;
    height: 80vh;
    padding: 1em;
}



