@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0.5cm;
}

section {
    max-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container {
    overflow: auto;
    max-width: 100%;
}

.station_column {
    background-color: inherit;
    position: sticky;
    left: 0;
    z-index: 1;
}

table {
    color: black;
    text-align: center;
    border: 0;
    border-spacing: 0;
    font-size: small;
}

table, tr {
    background-color: white;
}

thead {
    position: sticky;
    top: 0;
    z-index: 2;
}

tfoot {
    position: sticky;
    bottom: 0;
    z-index: 2;
}

tbody tr:nth-child(odd) {
    background-color: #f0f0f0;
}

tbody tr:nth-child(even) .valid_connection, thead .valid_connection, tfoot .valid_connection {
    background-color: #e0ffe0;
}

tbody tr:nth-child(even) .invalid_connection, thead .invalid_connection, tfoot .invalid_connection {
    background-color: #ffe0e0;
}

.origin, .destination {
    font-weight: bold;
}

th, td {
    padding: 0.2em;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#go_to_top {
    display: none;
}

.info {
    font-size: x-small;
}

.facility {
    width: 16px;
}

.mode {
    width: 20px;
}